Repository lettercms/lettercms: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dashboard, run-client, run-api

refactor: changed codes schema
  packages/models/accounts/schema/codes.js
Due: run-dashboard, run-client, run-api

Updated hash method
  apps/dashboard/src/pages/api/account/verify.js
Due: run-dashboard

Change Bcrypt salt minor to a
  apps/dashboard/src/pages/api/account/verify.js
Due: run-dashboard

fix: Fixed account creation
  apps/dashboard/src/components/input.jsx
  apps/dashboard/src/components/signin/user.jsx
  apps/dashboard/src/pages/api/account/verify.js
  apps/dashboard/src/pages/api/blog/create.js
  apps/dashboard/src/pages/signin.jsx
  packages/models/blogs/schema/blogs.js
  packages/utils/lib/connection.js
Due: run-dashboard, run-client, run-api

Added SENTRY_DSN to Next Env
  apps/dashboard/next.config.js
Due: run-dashboard

fix: Added missing dependecy
  apps/dashboard/src/components/post/index.jsx
Due: run-dashboard

fix: Fixed UI
  apps/dashboard/src/components/blog/aside.jsx
  apps/dashboard/src/pages/blog/[url].jsx
  apps/dashboard/src/pages/blog/index.jsx
Due: run-dashboard

updated thumbnail getter
  apps/dashboard/src/components/admin/posts/lib/createEditor.js
Due: run-dashboard

Updated CDN
  apps/cdn/images/og-template.png
Due: none

refactor: Added og default on schema definition
  apps/dashboard/src/pages/api/blog/create.js
  packages/models/blogs/schema/blogs.js
Due: run-dashboard, run-client, run-api

fix: added metadata check
  apps/dashboard/src/lib/ImageHandler.js
Due: run-dashboard

Updated CDN
  apps/cdn/images/connection.png
  apps/cdn/images/description-1.png
  apps/cdn/images/description-2.png
  apps/cdn/images/description-3.png
  apps/cdn/images/details-lightbox.png
  apps/cdn/images/details.png
  apps/cdn/images/emails/Companify-Logo.png
  apps/cdn/images/emails/Img22x.jpg
  apps/cdn/images/emails/Img4_2x.jpg
  apps/cdn/images/emails/Logo-white.png
  apps/cdn/images/emails/bee.png
  apps/cdn/images/emails/facebook2x.png
  apps/cdn/images/emails/footer.png
  apps/cdn/images/emails/instagram2x.png
  apps/cdn/images/emails/linkedin2x.png
  apps/cdn/images/emails/twitter2x.png
  apps/cdn/images/favicon.png
  apps/cdn/images/features-1.png
  apps/cdn/images/features-2.png
  apps/cdn/images/features-3.png
  apps/cdn/images/header-software-app.png
  apps/cdn/images/posts.png
  apps/cdn/images/stats.png
  apps/cdn/images/testimonial-1.jpg
  apps/cdn/images/testimonial-2.jpg
  apps/cdn/images/testimonial-3.jpg
  apps/cdn/images/testimonial-4.jpg
  apps/cdn/images/video-image.png
  apps/cdn/images/warn.png
Due: none

ci: Updated workflows names
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

Initial support to templates
  apps/api/lib/post/diffToMap.js
  apps/api/lib/post/getArrayDiff.js
  apps/api/lib/post/import.js
  apps/api/lib/post/incrementTags.js
  apps/api/lib/post/processBlogger.js
  apps/api/lib/post/publish.js
  apps/api/lib/post/subdomain.post.js
  apps/api/lib/post/update.js
  apps/api/lib/post/updateCategories.js
  apps/api/lib/post/updateTags.js
  apps/api/lib/post/url.delete.js
  apps/client/next.config.js
  apps/client/package.json
  apps/client/src/lib/generateSeoData.js
  apps/client/src/lib/generateSitemap.js
  apps/client/src/lib/getMetadata.js
  apps/client/src/lib/renderTemplate.js
  apps/client/src/pages/_app.jsx
  apps/client/src/pages/_blogs/[subdomain]/[[...paths]].jsx
  apps/client/src/pages/_document.jsx
  apps/client/src/pages/api/renderTest.js
  apps/client/src/pages/api/reset.js
Due: run-client, run-api

Added CODEOWNERS
  .github/CODEOWNERS
Due: none

refactor(packages/model): updated blog schema
  packages/models/blogs/schema/blogs.js
Due: run-dashboard, run-client, run-api

build(yarn.lock): updated dependencies
  yarn.lock
Due: none

refactor: Added scripts loads
  apps/client/src/lib/renderTemplate.js
  apps/client/src/pages/_blogs/[subdomain]/[[...paths]].jsx
Due: run-client

refactor: Code refactor
  apps/client/src/lib/generateSeoData.js
  apps/client/src/lib/renderTemplate.js
  apps/client/src/pages/_blogs/[subdomain]/[[...paths]].jsx
  apps/client/src/pages/api/renderTest.js
  apps/client/src/pages/api/reset.js
Due: run-client

feat: created API key support
  apps/api/lib/auth/exchangeToken.post.js
  apps/dashboard/src/components/admin/config/configAside.jsx
  apps/dashboard/src/components/admin/config/developers/apiKeys.jsx
  apps/dashboard/src/components/admin/config/developers/index.jsx
  apps/dashboard/src/components/admin/config/developers/keyList.jsx
  apps/dashboard/src/components/admin/config/developers/listLoad.jsx
  apps/dashboard/src/components/admin/config/index.jsx
  apps/dashboard/src/components/copyField.jsx
  apps/dashboard/src/components/svg/copy.jsx
  apps/dashboard/src/pages/api/blog/api-key.js
  apps/dashboard/src/pages/dashboard/config/[tab].jsx
  packages/models/blogs/schema/blogs.js
  packages/utils/lib/cors.js
  packages/utils/lib/manageMethods.js
  packages/utils/lib/sendMail.js
Due: run-dashboard, run-client, run-api

ci: Define node v16 on ci build
  .circleci/continue_config.yml
Due: none

ci: especify node v16.18.0
  .circleci/continue_config.yml
Due: none

chore: linted
  apps/dashboard/src/components/admin/colaborators/collab.jsx
  apps/dashboard/src/components/admin/config/account/index.jsx
  apps/dashboard/src/components/admin/config/blogConfig.jsx
  apps/dashboard/src/components/admin/config/developers/apiKeys.jsx
  apps/dashboard/src/components/admin/config/developers/index.jsx
  apps/dashboard/src/components/admin/config/developers/keyList.jsx
  apps/dashboard/src/components/admin/config/developers/listLoad.jsx
  apps/dashboard/src/components/admin/config/payment/index.jsx
  apps/dashboard/src/components/admin/listLayout/index.jsx
  apps/dashboard/src/components/admin/pages/useEditor.js
  apps/dashboard/src/components/admin/pages/useEvents.jsx
  apps/dashboard/src/components/admin/posts/images/imageModal.jsx
  apps/dashboard/src/components/admin/posts/images/list.jsx
  apps/dashboard/src/components/copyField.jsx
  apps/dashboard/src/components/svg/copy.jsx
  apps/dashboard/src/pages/signin.jsx
Due: run-dashboard

chore: linted
  apps/dashboard/src/lib/client/convert.js
  apps/dashboard/src/lib/mongo/getInvitation.js
  apps/dashboard/src/pages/api/blog/api-key.js
Due: run-dashboard

chore: Updated scripts
  package.json
  scripts/get-last-version.js
  scripts/publish.js
  scripts/release-canary.js
  scripts/release.js
  scripts/run-dev.js
  scripts/serve-files.js
  scripts/setup.js
  scripts/utils.js
Due: none

refactor: Added Button component
  apps/dashboard/src/components/post/subscription.jsx
Due: run-dashboard

build: Updated Next Auth
  apps/dashboard/package.json
  yarn.lock
Due: run-dashboard

refactor: Added button component
  apps/dashboard/src/components/post/subscription.jsx
Due: run-dashboard

fix: Fixed missing load more button
  apps/dashboard/src/components/admin/listLayout/index.jsx
  apps/dashboard/src/components/admin/listLayout/loadMore.jsx
Due: run-dashboard

refactor: Added missing cursor ref
  apps/dashboard/src/components/admin/listLayout/index.jsx
Due: run-dashboard

fix: Fixed UI
  apps/dashboard/src/components/admin/listLayout/index.jsx
Due: run-dashboard

fix: Fixed UI errors
  apps/dashboard/src/components/admin/config/account/index.jsx
  apps/dashboard/src/components/admin/config/account/social.jsx
  apps/dashboard/src/components/admin/config/blog/categories.jsx
  apps/dashboard/src/components/admin/config/blog/delete.jsx
  apps/dashboard/src/components/admin/config/blog/import.jsx
  apps/dashboard/src/components/admin/config/blogConfig.jsx
  apps/dashboard/src/components/admin/config/developers/apiKeys.jsx
  apps/dashboard/src/components/admin/config/developers/index.jsx
  apps/dashboard/src/components/admin/config/usage/charts.jsx
  apps/dashboard/src/components/admin/config/usage/index.jsx
  apps/dashboard/src/components/admin/listLayout/index.jsx
  apps/dashboard/src/components/admin/listLayout/noData.jsx
  apps/dashboard/src/components/admin/social/facebookCard.jsx
  apps/dashboard/src/components/admin/social/imageSelector.jsx
  apps/dashboard/src/components/admin/social/index.jsx
  apps/dashboard/src/components/admin/social/instagramCard.jsx
  apps/dashboard/src/components/admin/social/publish.jsx
  apps/dashboard/src/components/admin/top.jsx
  apps/dashboard/src/components/blog/card.jsx
  apps/dashboard/src/components/headBlog.jsx
  apps/dashboard/src/components/headPost.jsx
  apps/dashboard/src/components/post/header.jsx
  apps/dashboard/src/components/svg/angleDown.jsx
  apps/dashboard/src/components/svg/bubbles.jsx
  apps/dashboard/src/components/svg/ellipsisH.jsx
  apps/dashboard/src/components/svg/like.jsx
  apps/dashboard/src/components/svg/share.jsx
  apps/dashboard/src/lib/dashboardContext.jsx
  apps/dashboard/src/lib/mongo/social.js
  apps/dashboard/src/pages/dashboard/social/publish.jsx
  apps/dashboard/src/styles/dashboard.css
Due: run-dashboard

refactor: Added image resize
  apps/dashboard/src/components/blog/asideCard.jsx
Due: run-dashboard

refactor: Fixed UI
  apps/dashboard/src/components/blog/aside.jsx
  apps/dashboard/src/components/blog/card.jsx
  apps/dashboard/src/components/post/subscription.jsx
Due: run-dashboard

refactor: Fixed UI
  apps/dashboard/public/pixel.png
  apps/dashboard/src/components/blog/header.jsx
  apps/dashboard/src/components/nav.jsx
  apps/dashboard/src/pages/_document.jsx
Due: run-dashboard

refactor: Fixed UI
  apps/dashboard/src/components/blog/card.jsx
  apps/dashboard/src/components/nav.jsx
Due: run-dashboard

refactor: Improve Accesibility
  apps/dashboard/src/components/blog/aside.jsx
  apps/dashboard/src/components/blog/asideCard.jsx
  apps/dashboard/src/components/blog/card.jsx
Due: run-dashboard

refactor: Improve Accesibility
  apps/dashboard/src/components/nav.jsx
Due: run-dashboard

refactor: Throw error to Sentry handler
  packages/utils/lib/manageMethods.js
Due: run-dashboard, run-api

Path conditions:
  run-dashboard: (((((any of: packages/models/.*) or (any of: apps/dashboard/.*)) or (any of: packages/admin/.*)) or (any of: packages/utils/.*)) or (any of: packages/sdk/.*)) or (any of: packages/ui/.*)
  run-client: (((any of: packages/models/.*) or (any of: packages/sdk/.*)) or (any of: apps/client/.*)) or (any of: packages/ui/.*)
  run-api: (((any of: packages/models/.*) or (any of: packages/utils/.*)) or (any of: packages/ui/.*)) or (any of: apps/api/.*)
