Repository lettercms/lettercms: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dashboard, run-client, run-api

ci: Added missing continuation Orb
  .circleci/config.yml
Due: none

ci: Added missing commands
  .circleci/config.yml
Due: none

ci: Added missing node cimg
  .circleci/config.yml
Due: none

ci: Fixed error on Discord notification
  .circleci/config.yml
  scripts/discord.js
Due: none

ci: Linted
  .circleci/config.yml
Due: none

ci: Removed commands
  .circleci/config.yml
Due: none

chore: Created error API to test Sentry webhook
  apps/api/pages/api/error.js
Due: run-api

feat: Added Sentry Webhook Proxy
  apps/client/next.config.js
  apps/dashboard/next.config.js
  apps/dashboard/src/pages/api/sentry/[key].js
Due: run-dashboard, run-client

fix: Fixed error on NextJS config
  apps/client/next.config.js
Due: run-client

chore: Refactor
  apps/dashboard/src/pages/api/sentry/[key].js
Due: run-dashboard

fix: Fixed recommendation engine
  apps/api/lib/brain.js
  apps/api/lib/post/import.js
  apps/api/lib/post/processBlogger.js
  apps/api/lib/post/publish.js
  apps/api/lib/recommendation/lib/generateData.js
  apps/api/lib/recommendation/lib/parseTags.js
  apps/api/lib/recommendation/lib/rate.js
  apps/api/lib/recommendation/lib/training.js
  apps/api/lib/user/post.get.js
  apps/api/lib/user/recomendation.post.js
  apps/api/pages/api/error.js
  apps/api/pages/api/test.js
  apps/api/testing/accounts/account.test.js
  apps/dashboard/src/components/admin/posts/_editor.jsx
  apps/dashboard/src/components/admin/posts/imagesModal.jsx
  apps/dashboard/src/components/blog/card.jsx
  apps/dashboard/src/components/post/index.jsx
  apps/dashboard/src/components/tracingLayout.jsx
  apps/dashboard/src/lib/mongo/posts.js
  apps/dashboard/src/pages/api/sentry/[key].js
  apps/dashboard/src/pages/blog/[url].jsx
  packages/utils/lib/findHelpers/recommendations.js
Due: run-dashboard, run-api

fix: Fixed recommendation sorting
  apps/api/lib/account/invitations.post.js
  apps/api/lib/post/processBlogger.js
  apps/api/lib/post/updateCategories.js
  apps/api/lib/recommendation/lib/training.js
  apps/api/lib/recommendation/routes/training.js
  apps/api/lib/social/account.post.js
  apps/api/lib/stat/index.get.js
  apps/api/lib/user/post.get.js
  apps/api/lib/user/recomendation.post.js
  apps/api/lib/user/subdomain.post.js
  apps/dashboard/src/compile.js
  apps/dashboard/src/components/admin/config/developers/apiKeys.jsx
  apps/dashboard/src/components/admin/email/index.jsx
  apps/dashboard/src/components/admin/pages/createEditor.jsx
  apps/dashboard/src/components/admin/pages/customPanel.jsx
  apps/dashboard/src/components/admin/posts/editor/editor.jsx
  apps/dashboard/src/components/admin/posts/editor/index.jsx
  apps/dashboard/src/components/admin/posts/editor/lib/plugin.js
  apps/dashboard/src/components/admin/posts/imagesModal.jsx
  apps/dashboard/src/components/index/newsletter.jsx
  apps/dashboard/src/components/signin/blog.jsx
  apps/dashboard/src/lib/client/FacebookSDK.js
  apps/dashboard/src/lib/mongo/blogs.js
  apps/dashboard/src/pages/api/auth/[...nextauth].js
  apps/dashboard/src/pages/api/usage/update.js
  apps/dashboard/src/pages/blog/[url].jsx
  apps/dashboard/src/pages/blog/index.jsx
  packages/eslint-config/index.js
  packages/eslint-config/javascript.js
  packages/eslint-config/react.js
  packages/utils/lib/findHelpers/recommendations.js
  packages/utils/lib/findUtils.js
  packages/utils/lib/sendMail.js
Due: run-dashboard, run-api

refactor: Added translation
  apps/dashboard/jsconfig.json
  apps/dashboard/src/components/blog/aside.jsx
  apps/dashboard/src/components/blog/card.jsx
  apps/dashboard/src/components/blog/header.jsx
  apps/dashboard/src/components/blog/paging.jsx
  apps/dashboard/src/components/head.jsx
  apps/dashboard/src/components/index/description.jsx
  apps/dashboard/src/components/index/details.jsx
  apps/dashboard/src/components/index/features.jsx
  apps/dashboard/src/components/index/footer.jsx
  apps/dashboard/src/components/index/header.jsx
  apps/dashboard/src/components/index/newsletter.jsx
  apps/dashboard/src/components/index/video.jsx
  apps/dashboard/src/components/post/breadcrumbs.jsx
  apps/dashboard/src/components/post/index.jsx
  apps/dashboard/src/components/post/tags.jsx
  apps/dashboard/src/lib/ImageHandler.js
  apps/dashboard/src/pages/_app.jsx
  apps/dashboard/src/pages/blog/[url].jsx
  apps/dashboard/src/pages/blog/index.jsx
  apps/dashboard/src/pages/index.jsx
  apps/dashboard/src/pages/login.jsx
  apps/dashboard/src/translations/blog/en.json
  apps/dashboard/src/translations/blog/es.json
  apps/dashboard/src/translations/en.json
  apps/dashboard/src/translations/es.json
  apps/dashboard/src/translations/index/en.json
  apps/dashboard/src/translations/index/es.json
  apps/dashboard/src/translations/login/en.json
  apps/dashboard/src/translations/login/es.json
  apps/dashboard/src/translations/post/en.json
  apps/dashboard/src/translations/post/es.json
Due: run-dashboard

feat: Added language detection on middleware
  apps/dashboard/src/middleware.js
Due: run-dashboard

refactor: Updated translation
  apps/dashboard/src/pages/login.jsx
  apps/dashboard/src/translations/login/en.json
  apps/dashboard/src/translations/login/es.json
Due: run-dashboard

refactor: Added trnalstions to Signin page
  apps/dashboard/src/components/admin/colaborators/card.jsx
  apps/dashboard/src/components/blog/header.jsx
  apps/dashboard/src/components/index/details.jsx
  apps/dashboard/src/components/index/features.jsx
  apps/dashboard/src/components/index/footer.jsx
  apps/dashboard/src/components/index/newsletter.jsx
  apps/dashboard/src/components/signin/blog.jsx
  apps/dashboard/src/components/signin/invitationCard.jsx
  apps/dashboard/src/components/signin/user.jsx
  apps/dashboard/src/components/signin/verify.jsx
  apps/dashboard/src/middleware.js
  apps/dashboard/src/pages/_app.jsx
  apps/dashboard/src/pages/_preview/[id].jsx
  apps/dashboard/src/pages/login.jsx
  apps/dashboard/src/pages/signin.jsx
  apps/dashboard/src/translations/blog/es.json
  apps/dashboard/src/translations/en.json
  apps/dashboard/src/translations/es.json
  apps/dashboard/src/translations/index/en.json
  apps/dashboard/src/translations/login/en.json
  apps/dashboard/src/translations/login/es.json
  apps/dashboard/src/translations/signin/en.json
  apps/dashboard/src/translations/signin/es.json
Due: run-dashboard

feat: Initial translation to dahsboard
  apps/dashboard/src/components/admin/welcome/dashboard.jsx
  apps/dashboard/src/components/admin/welcome/firstTime.jsx
  apps/dashboard/src/components/layout/index.jsx
  apps/dashboard/src/components/layout/menu.jsx
  apps/dashboard/src/components/layout/nav.jsx
  apps/dashboard/src/components/layout/option.jsx
  apps/dashboard/src/middleware.js
  apps/dashboard/src/pages/dashboard/collaborators/index.jsx
  apps/dashboard/src/pages/dashboard/config/[tab].jsx
  apps/dashboard/src/pages/dashboard/index.jsx
  apps/dashboard/src/pages/dashboard/posts/edit/[postID].jsx
  apps/dashboard/src/pages/dashboard/posts/index.jsx
  apps/dashboard/src/pages/dashboard/social/index.jsx
  apps/dashboard/src/pages/dashboard/social/publish.jsx
  apps/dashboard/src/pages/dashboard/stats/index.jsx
  apps/dashboard/src/translations/blog/en.json
  apps/dashboard/src/translations/dashboard/collaborators/en.json
  apps/dashboard/src/translations/dashboard/collaborators/es.json
  apps/dashboard/src/translations/dashboard/config/en.json
  apps/dashboard/src/translations/dashboard/config/es.json
  apps/dashboard/src/translations/dashboard/en.json
  apps/dashboard/src/translations/dashboard/es.json
  apps/dashboard/src/translations/dashboard/posts/en.json
  apps/dashboard/src/translations/dashboard/posts/es.json
  apps/dashboard/src/translations/dashboard/social/en.json
  apps/dashboard/src/translations/dashboard/social/es.json
  apps/dashboard/src/translations/dashboard/stats/en.json
  apps/dashboard/src/translations/dashboard/stats/es.json
Due: run-dashboard

refactor: Added translation on device login
  apps/dashboard/src/components/mobileNotSupported.jsx
  apps/dashboard/src/translations/login/en.json
  apps/dashboard/src/translations/login/es.json
Due: run-dashboard

refactor: Added translation on Dashboard Post Page
  apps/dashboard/src/components/admin/listLayout/card.jsx
  apps/dashboard/src/components/admin/listLayout/filters.jsx
  apps/dashboard/src/components/admin/listLayout/index.jsx
  apps/dashboard/src/components/admin/listLayout/noData.jsx
  apps/dashboard/src/components/admin/posts/index.jsx
  apps/dashboard/src/middleware.js
  apps/dashboard/src/pages/_app.jsx
  apps/dashboard/src/translations/dashboard/posts/editor/en.json
  apps/dashboard/src/translations/dashboard/posts/editor/es.json
Due: run-dashboard

ci: Removed console.logs from Discord notifications
  scripts/discord.js
  scripts/run-test.js
Due: none

refactor: Added translation on post editor page
  apps/dashboard/src/components/admin/posts/card.jsx
  apps/dashboard/src/components/admin/posts/editor/buttons.jsx
  apps/dashboard/src/components/admin/posts/editor/configInputs.jsx
  apps/dashboard/src/components/admin/posts/editor/editor.jsx
  apps/dashboard/src/components/admin/posts/editor/index.jsx
  apps/dashboard/src/components/admin/posts/editor/metaInputs.jsx
  apps/dashboard/src/components/admin/posts/editor/tags.jsx
  apps/dashboard/src/components/admin/posts/editor/thumbnailList.jsx
  apps/dashboard/src/components/admin/posts/editor/title.jsx
  apps/dashboard/src/components/admin/posts/images/blogImages.jsx
  apps/dashboard/src/components/admin/posts/images/blogNoImages.jsx
  apps/dashboard/src/components/admin/posts/images/imageModal.jsx
  apps/dashboard/src/components/admin/posts/images/list.jsx
  apps/dashboard/src/components/admin/posts/images/search.jsx
  apps/dashboard/src/components/admin/posts/images/tabs.jsx
  apps/dashboard/src/pages/dashboard/posts/edit/[postID].jsx
  apps/dashboard/src/translations/dashboard/posts/edit/en.json
  apps/dashboard/src/translations/dashboard/posts/edit/es.json
  apps/dashboard/src/translations/dashboard/posts/editor/en.json
  apps/dashboard/src/translations/dashboard/posts/editor/es.json
  apps/dashboard/src/translations/es.json
Due: run-dashboard

refactor: Added translation on stats
  apps/dashboard/src/components/admin/listLayout/listContainer.jsx
  apps/dashboard/src/components/admin/stats/charts/bar.jsx
  apps/dashboard/src/components/admin/stats/charts/line.jsx
  apps/dashboard/src/components/admin/stats/charts/pie.jsx
  apps/dashboard/src/components/admin/stats/dashboard.jsx
  apps/dashboard/src/components/admin/stats/noData.jsx
  apps/dashboard/src/pages/dashboard/stats/index.jsx
  apps/dashboard/src/translations/dashboard/posts/en.json
  apps/dashboard/src/translations/dashboard/posts/es.json
  apps/dashboard/src/translations/dashboard/stats/en.json
  apps/dashboard/src/translations/dashboard/stats/es.json
Due: run-dashboard

fix: Fixed error when stats retrieve 0 views
  apps/api/lib/stat/index.get.js
Due: run-api

chore: Removed unused email page
  apps/dashboard/src/components/admin/email/editor.jsx
  apps/dashboard/src/components/admin/email/index.jsx
  apps/dashboard/src/pages/dashboard/email/index.jsx
Due: run-dashboard

refactor: Updated translations
  apps/dashboard/src/components/admin/social/dashboard.jsx
  apps/dashboard/src/components/admin/social/imageSelector.jsx
  apps/dashboard/src/components/admin/social/imagesList.jsx
  apps/dashboard/src/components/admin/social/instagramCard.jsx
  apps/dashboard/src/components/admin/social/noAccount.jsx
  apps/dashboard/src/components/admin/social/publish.jsx
  apps/dashboard/src/pages/dashboard/social/publish.jsx
  apps/dashboard/src/translations/dashboard/collaborators/en.json
  apps/dashboard/src/translations/dashboard/collaborators/es.json
  apps/dashboard/src/translations/dashboard/social/en.json
  apps/dashboard/src/translations/dashboard/social/es.json
  apps/dashboard/src/translations/dashboard/social/publish/en.json
  apps/dashboard/src/translations/dashboard/social/publish/es.json
Due: run-dashboard

fix: Fixed error deleting image
  apps/api/lib/image/name.delete.js
  apps/api/lib/image/operations/get.js
Due: run-api

chore: Deleted unused component
  apps/dashboard/src/components/admin/colaborators/card.jsx
Due: run-dashboard

refactor: Upated collaborators translation
  apps/dashboard/src/components/admin/colaborators/index.jsx
  apps/dashboard/src/components/admin/colaborators/invitationModal.jsx
  apps/dashboard/src/components/admin/colaborators/modalUser.jsx
  apps/dashboard/src/translations/dashboard/collaborators/en.json
  apps/dashboard/src/translations/dashboard/collaborators/es.json
Due: run-dashboard

refactor: Updated translations
  apps/dashboard/src/components/admin/config/account/cropper.jsx
  apps/dashboard/src/components/admin/config/account/index.jsx
  apps/dashboard/src/components/admin/config/account/ui.jsx
  apps/dashboard/src/components/admin/config/blog/categories.jsx
  apps/dashboard/src/components/admin/config/blog/delete.jsx
  apps/dashboard/src/components/admin/config/blog/import.jsx
  apps/dashboard/src/components/admin/config/blog/thumbnail.jsx
  apps/dashboard/src/components/admin/config/blog/title.jsx
  apps/dashboard/src/components/admin/config/blog/url.jsx
  apps/dashboard/src/components/admin/config/blogConfig.jsx
  apps/dashboard/src/components/admin/config/developers/apiKeys.jsx
  apps/dashboard/src/components/admin/config/developers/index.jsx
  apps/dashboard/src/components/admin/config/developers/keyList.jsx
  apps/dashboard/src/components/admin/config/usage/charts.jsx
  apps/dashboard/src/translations/dashboard/config/en.json
  apps/dashboard/src/translations/dashboard/config/es.json
Due: run-dashboard

feat: Added translation engine
  apps/dashboard/src/components/admin/config/account/ui.jsx
  apps/dashboard/src/components/admin/posts/editor/index.jsx
  apps/dashboard/src/components/admin/stats/charts/bar.jsx
  apps/dashboard/src/components/admin/stats/charts/line.jsx
  apps/dashboard/src/components/admin/stats/charts/pie.jsx
  apps/dashboard/src/components/admin/stats/dashboard.jsx
  apps/dashboard/src/components/admin/stats/index.jsx
  apps/dashboard/src/components/assets/adminCollabs.jsx
  apps/dashboard/src/components/layout/index.jsx
  apps/dashboard/src/components/layout/index.module.css
  apps/dashboard/src/components/layout/languages.js
  apps/dashboard/src/components/layout/menu.jsx
  apps/dashboard/src/components/layout/nav.jsx
  apps/dashboard/src/middleware.js
  apps/dashboard/src/pages/dashboard/collaborators/index.jsx
  apps/dashboard/src/pages/dashboard/config/[tab].jsx
  apps/dashboard/src/pages/dashboard/posts/index.jsx
  apps/dashboard/src/pages/dashboard/social/index.jsx
  apps/dashboard/src/pages/dashboard/social/publish.jsx
  apps/dashboard/src/translations/dashboard/collaborators/en.json
  apps/dashboard/src/translations/dashboard/collaborators/es.json
  apps/dashboard/src/translations/dashboard/config/en.json
  apps/dashboard/src/translations/dashboard/config/es.json
  apps/dashboard/src/translations/dashboard/posts/edit/en.json
  apps/dashboard/src/translations/dashboard/posts/en.json
  apps/dashboard/src/translations/dashboard/posts/es.json
  apps/dashboard/src/translations/dashboard/social/en.json
  apps/dashboard/src/translations/dashboard/social/es.json
  apps/dashboard/src/translations/dashboard/social/publish/en.json
  apps/dashboard/src/translations/dashboard/social/publish/es.json
  packages/icons/en.jsx
  packages/icons/es.jsx
  packages/icons/signOut.jsx
Due: run-dashboard

fixed: Fixed bad size on Share icons
  apps/dashboard/src/components/blog/shareCard.jsx
Due: run-dashboard

refactor: Removed empty tabs on stats
  apps/dashboard/src/components/admin/stats/charts/bar.jsx
  apps/dashboard/src/components/admin/stats/charts/line.jsx
  apps/dashboard/src/components/admin/stats/dashboard.jsx
  apps/dashboard/src/components/nav.jsx
  apps/dashboard/src/pages/dashboard/social/publish.jsx
  apps/dashboard/src/translations/blog/en.json
  apps/dashboard/src/translations/blog/es.json
  apps/dashboard/src/translations/index/en.json
  apps/dashboard/src/translations/index/es.json
  apps/dashboard/src/translations/post/en.json
  apps/dashboard/src/translations/post/es.json
  apps/dashboard/src/translations/signin/en.json
  apps/dashboard/src/translations/signin/es.json
Due: run-dashboard

fix: Fixed post auto promotion on social media
  apps/api/lib/post/publish.js
  apps/client/next.config.js
  apps/dashboard/src/components/admin/listLayout/card.jsx
  apps/dashboard/src/components/admin/posts/editor/editor.jsx
  apps/dashboard/src/components/admin/posts/editor/index.jsx
  apps/dashboard/src/components/assets/adminSocial.jsx
Due: run-dashboard, run-client, run-api

doc: Updated README
  README.md
Due: none

refactor: Changed cookies consent color
  apps/client/src/components/cookieConsent.jsx
  apps/client/src/components/home/aside.jsx
Due: run-client

fix: fixed error getting stats data on a date range
  apps/api/lib/stat/index.get.js
Due: run-api

fix: Fixed schedule engine
  apps/api/lib/social/social.post.js
  apps/api/package.json
  apps/api/pages/api/social/[social]/qstash.js
  apps/dashboard/src/components/admin/social/publish.jsx
  packages/models/jobs/index.js
  packages/models/jobs/schema/index.js
  packages/utils/lib/manageMethods.js
  packages/utils/lib/schedule.js
  packages/utils/lib/social/Facebook.js
  packages/utils/lib/social/index.js
  yarn.lock
Due: run-dashboard, run-client, run-api

fix: Fixed error getting stats
  apps/api/lib/stat/index.get.js
Due: run-api

Path conditions:
  run-dashboard: (((((any of: packages/models/.*) or (any of: apps/dashboard/.*)) or (any of: packages/admin/.*)) or (any of: packages/utils/.*)) or (any of: packages/sdk/.*)) or (any of: packages/ui/.*)
  run-client: (((any of: packages/models/.*) or (any of: packages/sdk/.*)) or (any of: apps/client/.*)) or (any of: packages/ui/.*)
  run-api: (((any of: packages/models/.*) or (any of: packages/utils/.*)) or (any of: packages/ui/.*)) or (any of: apps/api/.*)
