Repository lettercms/lettercms: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-api, run-client, run-dashboard

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            apps/api/.* run-api true
            packages/models/.* run-api true
            packages/utils/.* run-api true
            packages/ui/.* run-api true
            apps/client/.* run-client true
            packages/models/.* run-client true
            packages/sdk/.* run-client true
            packages/ui/.* run-client true
            apps/dashboard/.* run-dashboard true
            packages/admin/.* run-dashboard true
            packages/models/.* run-dashboard true
            packages/sdk/.* run-dashboard true
            packages/utils/.* run-dashboard true
            packages/ui/.* run-dashboard true

          base-revision: main
          config-path: .circleci/continue_config.yml

linted
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

linted
  apps/dashboard/src/pages/blog/[url].jsx
Due: run-dashboard

ci: Added vercel to global
  .circleci/continue_config.yml
Due: none

ci: added missing NEXT_AUTH env var
  .circleci/continue_config.yml
Due: none

ci: Updated action workflow
  .github/workflows/deploy.yml
  .github/workflows/staging.yml
Due: none

ci: Added cache layer
  .circleci/continue_config.yml
Due: none

refactor: export object on promise
  packages/models/accounts/schema/account.js
Due: run-api, run-client, run-dashboard

ci: Fixed error on CI config
  .circleci/continue_config.yml
Due: none

ci: Updated Actions config
  .github/workflows/deploy.yml
  .github/workflows/production.yml
Due: none

ci: Updated Actions config
  .github/workflows/deploy.yml
Due: none

ci: Updated Actions config
  .github/workflows/staging.yml
Due: none

ci: Fixed invalid config
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

ci: Added dynamic cache key
  .github/workflows/deploy.yml
Due: none

ci: Added ci concurrency
  .github/workflows/deploy.yml
Due: none

linted
  apps/dashboard/src/middleware.js
Due: run-dashboard

Added Open Collective
  .github/FUNDING.yml
  .github/workflows/staging.yml
Due: none

ci: Fixed error on CI
  .github/workflows/staging.yml
Due: none

refactor: fix unused code
  packages/models/blogs/schema/index.js
Due: run-api, run-client, run-dashboard

ci: Updated config
  .github/workflows/staging.yml
  packages/models/blogs/schema/index.js
Due: run-api, run-client, run-dashboard

ci: Updated config
  .github/workflows/deploy.yml
  .github/workflows/staging.yml
Due: none

ci: Changed env name
  .github/workflows/staging.yml
Due: none

fix: Fixed error on sessionStorage getter
  apps/dashboard/src/components/signin/verify.jsx
Due: run-dashboard

chore: deploy test
  .github/workflows/staging.yml
Due: none

chore
  apps/dashboard/src/components/_headBase.jsx
Due: run-dashboard

chore: deploy test
  .github/workflows/staging.yml
  apps/dashboard/src/components/headPost.jsx
Due: run-dashboard

ci: Updated config
  .github/workflows/deploy.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

chore: removed unused comment
  apps/dashboard/src/components/headPost.jsx
  apps/dashboard/src/components/input.jsx
Due: run-dashboard

fix: added Sentry on API routes
  apps/dashboard/src/pages/api/account/create.js
  apps/dashboard/src/pages/api/account/verify.js
  apps/dashboard/src/pages/api/revalidate.js
Due: run-dashboard

fix: added Sentry on API routes
  apps/dashboard/src/pages/api/account/verify.js
Due: run-dashboard

refactor: deleted unused method
  apps/dashboard/src/pages/api/account/verify.js
Due: run-dashboard

refactor: removed try-catch block on verify API route
  apps/dashboard/src/pages/api/account/verify.js
Due: run-dashboard

fix: Updated UI
  apps/dashboard/src/components/input.jsx
  apps/dashboard/src/components/signin/user.jsx
Due: run-dashboard

fix: Fixed error on duplicated const name
  apps/dashboard/src/pages/api/account/verify.js
Due: run-dashboard

ci: Updated config
  .circleci/config.yml
  .circleci/continue_config.yml
  apps/dashboard/src/components/signin/user.jsx
Due: run-dashboard

fix: Removed merge comment
  apps/dashboard/src/components/signin/user.jsx
Due: run-dashboard

fix: added missing ref
  apps/dashboard/src/components/signin/user.jsx
Due: run-dashboard

fix: updated state ref
  apps/dashboard/src/components/signin/user.jsx
Due: run-dashboard

fix: Fixed error on Verification API route
  apps/dashboard/src/pages/api/account/verify.js
Due: run-dashboard

fix: added missing role
  apps/dashboard/src/pages/api/account/verify.js
Due: run-dashboard

Linted
  apps/dashboard/src/components/signin/blog.jsx
  apps/dashboard/src/components/signin/user.jsx
  apps/dashboard/src/components/signin/verify.jsx
  apps/dashboard/src/pages/api/account/create.js
  apps/dashboard/src/pages/api/account/verify.js
Due: run-dashboard
