Repository lettercms/lettercms: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dashboard, run-client, run-api

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/models/.* run-dashboard true
            apps/dashboard/.* run-dashboard true
            packages/admin/.* run-dashboard true
            packages/utils/.* run-dashboard true
            packages/models/.* run-client true
            packages/sdk/.* run-dashboard true
            packages/ui/.* run-dashboard true
            packages/models/.* run-api true
            packages/sdk/.* run-client true
            packages/utils/.* run-api true
            apps/client/.* run-client true
            packages/ui/.* run-client true
            packages/ui/.* run-api true
            apps/api/.* run-api true

          base-revision: main
          config-path: .circleci/continue_config.yml

fix: Added keys default creation on missing field
  apps/dashboard/src/components/blog/aside.jsx
  apps/dashboard/src/components/blog/card.jsx
  apps/dashboard/src/pages/api/blog/api-key.js
Due: run-dashboard

fix: Fixed UI
  apps/dashboard/src/components/admin/config/developers/apiKeys.jsx
Due: run-dashboard

feat: Added Firebase image resize
  apps/usercontent/.gitignore
  apps/usercontent/README.md
  apps/usercontent/api/index.js
  apps/usercontent/lib/getBucket.js
  apps/usercontent/package.json
  apps/usercontent/vercel.json
  yarn.lock
Due: none

fix: set empty array on missing api keys
  apps/dashboard/src/pages/api/blog/api-key.js
Due: run-dashboard

chore: Added license to package.json
  package.json
Due: none

chore: Update styles
  apps/dashboard/src/components/admin/listLayout/card.module.css
  apps/dashboard/src/components/nav.jsx
Due: run-dashboard

fix: Fixed error on layout
  apps/dashboard/src/components/admin/pages/grapesjs/index.js
  apps/dashboard/src/pages/index.jsx
Due: run-dashboard

feat: added auth status between navigation
  apps/dashboard/src/components/nav.jsx
Due: run-dashboard

chore: Improve error UI
  packages/ui/pages/error.jsx
Due: run-dashboard, run-client, run-api

linted
  apps/api/lib/post/update.js
  apps/api/lib/post/updateTags.js
  apps/api/lib/stat/index.get.js
  apps/dashboard/src/components/admin/listLayout/filters.jsx
  apps/dashboard/src/components/admin/listLayout/index.jsx
  apps/dashboard/src/components/admin/listLayout/listContainer.jsx
  apps/dashboard/src/components/admin/listLayout/top.jsx
  apps/dashboard/src/components/admin/pages/grapesjs/index.js
  apps/dashboard/src/components/admin/posts/editor/buttons.jsx
  apps/dashboard/src/components/admin/posts/editor/configInputs.jsx
  apps/dashboard/src/components/admin/posts/editor/editor.jsx
  apps/dashboard/src/components/admin/posts/editor/editorLoad.jsx
  apps/dashboard/src/components/admin/posts/editor/index.jsx
  apps/dashboard/src/components/admin/posts/editor/metaInputs.jsx
  apps/dashboard/src/components/admin/posts/editor/metadata.jsx
  apps/dashboard/src/components/admin/posts/editor/tags.jsx
  apps/dashboard/src/components/admin/posts/editor/title.jsx
  apps/dashboard/src/components/blog/aside.jsx
  apps/dashboard/src/components/layout/index.jsx
  apps/dashboard/src/components/layout/menuLoad.jsx
  apps/dashboard/src/components/nav.jsx
  apps/dashboard/src/components/svg/powerOff.jsx
  apps/dashboard/src/components/svg/slidersH.jsx
Due: run-dashboard, run-api

fix: Fixed error on UI
  apps/dashboard/package.json
  apps/dashboard/src/components/admin/listLayout/card.jsx
  apps/dashboard/src/components/admin/listLayout/card.module.css
  apps/dashboard/src/components/admin/listLayout/tagList.jsx
  apps/dashboard/src/components/admin/listLayout/tagList.module.css
  apps/dashboard/src/components/nav.jsx
  apps/dashboard/src/pages/index.jsx
Due: run-dashboard

fix: Fixed errors on UI
  apps/dashboard/src/components/admin/listLayout/card.jsx
  apps/dashboard/src/components/admin/listLayout/index.jsx
  apps/dashboard/src/components/admin/listLayout/tagList.module.css
  apps/dashboard/src/components/admin/listLayout/top.module.css
Due: run-dashboard

refactor: Refactored Editor page
  apps/dashboard/src/components/admin/posts/editor/buttons.jsx
  apps/dashboard/src/components/admin/posts/editor/config.jsx
  apps/dashboard/src/components/admin/posts/editor/editor.jsx
  apps/dashboard/src/components/admin/posts/editor/editorLoad.module.css
  apps/dashboard/src/components/admin/posts/editor/index.jsx
  apps/dashboard/src/components/admin/posts/editor/lib/converters.js
  apps/dashboard/src/components/admin/posts/editor/lib/createEditor.js
  apps/dashboard/src/components/admin/posts/editor/lib/plugin.js
  apps/dashboard/src/components/admin/posts/editor/metadata.jsx
  apps/dashboard/src/components/admin/posts/editor/plugins.js
  apps/dashboard/src/components/admin/posts/editor/tags.jsx
  apps/dashboard/src/components/admin/posts/editor/thumbnailList.jsx
  apps/dashboard/src/components/admin/posts/editor/thumbnails.jsx
  apps/dashboard/src/components/admin/posts/images/imageModal.jsx
  apps/dashboard/src/components/admin/posts/imagesModal.jsx
  apps/dashboard/src/components/admin/posts/index.jsx
Due: run-dashboard

chore: Added svg assets to JSX
  apps/dashboard/src/components/assets/adminCollabs.jsx
  apps/dashboard/src/components/assets/adminPages.jsx
  apps/dashboard/src/components/assets/adminPost.jsx
  apps/dashboard/src/components/assets/adminSocial.jsx
  apps/dashboard/src/components/assets/adminStats.jsx
Due: run-dashboard

refactor: Improve layout
  apps/dashboard/src/components/layout/index.jsx
  apps/dashboard/src/components/layout/index.module.css
  apps/dashboard/src/components/layout/load.js
  apps/dashboard/src/components/layout/load.jsx
  apps/dashboard/src/components/layout/load.module.css
  apps/dashboard/src/components/layout/nav.jsx
  apps/dashboard/src/components/layout/option.jsx
Due: run-dashboard

chore: Added svg assets to JSX
  apps/dashboard/src/components/admin/pages/index.jsx
  apps/dashboard/src/components/admin/social/dashboard.jsx
  apps/dashboard/src/components/admin/stats/dashboard.jsx
  apps/dashboard/src/components/admin/stats/index.jsx
Due: run-dashboard

refactor: Removed withSentry in API
  apps/dashboard/src/pages/api/feed.js
  apps/dashboard/src/pages/api/preview.js
  apps/dashboard/src/pages/api/revalidate.js
  apps/dashboard/src/pages/api/search-images.js
  apps/dashboard/src/pages/api/sitemap.js
  apps/dashboard/src/pages/api/track-image.js
Due: run-dashboard

linted
  apps/dashboard/src/components/admin/colaborators/index.jsx
  apps/dashboard/src/components/admin/listLayout/tagList.jsx
  apps/dashboard/src/components/admin/posts/editor/editor.jsx
  apps/dashboard/src/components/admin/posts/editor/index.jsx
  apps/dashboard/src/components/admin/posts/editor/lib/plugin.js
  apps/dashboard/src/components/admin/posts/editor/thumbnailList.jsx
  apps/dashboard/src/components/admin/posts/thumbnailList.jsx
  apps/dashboard/src/components/admin/stats/index.jsx
  apps/dashboard/src/components/assets/adminCollabs.jsx
  apps/dashboard/src/components/assets/adminPages.jsx
  apps/dashboard/src/components/assets/adminPost.jsx
  apps/dashboard/src/components/assets/adminSocial.jsx
  apps/dashboard/src/components/assets/adminStats.jsx
  apps/dashboard/src/components/layout/load.jsx
  apps/dashboard/src/components/layout/nav.jsx
  apps/dashboard/src/components/svg/image.jsx
Due: run-dashboard

build: Updated packages
  apps/api/lib/post/update.js
  apps/api/next.config.js
  apps/api/package.json
  apps/dashboard/package.json
  package.json
  packages/ui/pages/404.jsx
  packages/utils/lib/manageMethods.js
  turbo.json
  yarn.lock
Due: run-dashboard, run-client, run-api

refactor: Added dynamic api endpoint
  packages/sdk/cjs/index.js
Due: run-dashboard, run-client

chore: Uncomment Firebase init code
  apps/dashboard/src/components/layout/index.jsx
Due: run-dashboard

fix: Removed bufferCommand from mongoose config
  packages/utils/lib/connection.js
Due: run-dashboard, run-api

fix: Fixed error on logout button
  apps/dashboard/src/components/layout/index.jsx
  apps/dashboard/src/components/layout/nav.jsx
  apps/dashboard/src/firebase/server.js
  apps/dashboard/src/pages/api/test.js
Due: run-dashboard

linted
  packages/utils/lib/connection.js
Due: run-dashboard, run-api

fix: Fixed error on stream resize
  apps/usercontent/api/index.js
Due: none

fix: Fixed error on image upload
  apps/api/lib/image/parseFile.js
  apps/dashboard/src/components/admin/posts/editor/lib/plugin.js
  apps/dashboard/src/components/admin/posts/editor/metaInputs.jsx
  apps/dashboard/src/components/admin/posts/editor/tags.jsx
  apps/dashboard/src/components/admin/posts/images/blogImages.jsx
  apps/dashboard/src/components/admin/posts/images/imageModal.jsx
  apps/dashboard/src/components/admin/posts/images/list.jsx
  apps/dashboard/src/components/admin/posts/imagesModal.jsx
  apps/dashboard/src/lib/ImageHandler.js
Due: run-dashboard, run-api

chore: Use boolean on input disabled
  apps/dashboard/src/components/admin/posts/editor/configInputs.jsx
  apps/dashboard/src/components/admin/posts/editor/index.jsx
  apps/dashboard/src/components/admin/posts/editor/tags.jsx
Due: run-dashboard

chore: Update REAME.md
  README.md
  apps/cdn/ckeditor.js
Due: none

feat: Init client development using tailwind
  apps/client/next.config.js
  apps/client/package.json
  apps/client/postcss.config.js
  apps/client/src/_middleware.js
  apps/client/src/components/_index/card.jsx
  apps/client/src/components/_index/footer.jsx
  apps/client/src/components/_index/index.jsx
  apps/client/src/components/_index/landing.jsx
  apps/client/src/components/_index/pagination.jsx
  apps/client/src/components/_index/recommended.jsx
  apps/client/src/components/_index/shareCard.jsx
  apps/client/src/components/_index/subscribeButton.jsx
  apps/client/src/components/_index/subscriptionModal.jsx
  apps/client/src/components/_post/about.jsx
  apps/client/src/components/_post/index.jsx
  apps/client/src/components/_post/share.jsx
  apps/client/src/components/footer.jsx
  apps/client/src/components/home/entries.jsx
  apps/client/src/components/home/entryCard.jsx
  apps/client/src/components/home/header.jsx
  apps/client/src/components/home/index.jsx
  apps/client/src/components/home/recommended.jsx
  apps/client/src/components/home/recommendedCard.jsx
  apps/client/src/components/userContext.jsx
  apps/client/src/lib/mongo/blogs.js
  apps/client/src/lib/mongo/posts.js
  apps/client/src/pages/404.jsx
  apps/client/src/pages/_app.jsx
  apps/client/src/pages/_blog/[subdomain]/[[...paths]].jsx
  apps/client/src/pages/_blog/[subdomain]/search.jsx
  apps/client/src/pages/_recommendation/[subdomain]/[[...paths]].jsx
  apps/client/src/pages/api/feed.js
  apps/client/src/pages/api/generate-token.js
  apps/client/src/pages/api/manifest.js
  apps/client/src/pages/api/preview.js
  apps/client/src/pages/test.jsx
  apps/client/src/styles/global.css
  apps/client/tailwind.config.js
  yarn.lock
Due: run-client

chore: Improve development script
  scripts/run-dev.js
Due: none

chore: restores components
  apps/client/src/components/index/card.jsx
  apps/client/src/components/index/footer.jsx
  apps/client/src/components/index/index.jsx
  apps/client/src/components/index/landing.jsx
  apps/client/src/components/index/pagination.jsx
  apps/client/src/components/index/recommended.jsx
  apps/client/src/components/index/shareCard.jsx
  apps/client/src/components/index/subscribeButton.jsx
  apps/client/src/components/index/subscriptionModal.jsx
  apps/client/src/components/post/about.jsx
  apps/client/src/components/post/index.jsx
  apps/client/src/components/post/share.jsx
Due: run-client

chore: Updated hader image url
  apps/client/src/components/home/header.jsx
Due: run-client

fix: Fixed error on categories config
  apps/api/lib/blog/subdomain.patch.js
  apps/api/lib/blog/updateCategories.js
  apps/api/lib/image/operations/list.js
  apps/api/lib/post/updateTags.js
  apps/dashboard/src/components/admin/config/blog/categories.jsx
  apps/dashboard/src/components/admin/config/blogCategories.jsx
  apps/dashboard/src/components/admin/config/blogConfig.jsx
Due: run-dashboard, run-api

feat: Added categories count
  apps/api/lib/post/draft.js
  apps/api/lib/post/publish.js
  apps/api/lib/post/update.js
  apps/api/lib/post/updateCategories.js
  apps/dashboard/src/components/admin/posts/editor/metaInputs.jsx
Due: run-dashboard, run-api

fix: Fixed tags and category Editor UI
  apps/api/lib/blog/updateCategories.js
  apps/api/lib/post/update.js
  apps/api/lib/post/updateCategories.js
  apps/dashboard/src/components/admin/posts/editor/index.jsx
  apps/dashboard/src/components/admin/posts/editor/tags.jsx
Due: run-dashboard, run-api

feat: Added category checker
  apps/api/lib/post/checkCategory.js
  apps/api/lib/post/draft.js
  apps/api/lib/post/publish.js
  apps/api/lib/post/update.js
Due: run-api

feat: Update categories count on post delete
  apps/api/lib/post/url.delete.js
Due: run-api
