Repository lettercms/lettercms: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dashboard, run-client, run-api

doc: Updated Contributing guide
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  README.md
  scripts/build/next.js
  scripts/setup.js
Due: none

doc: Updated contributing guide
  .github/CONTRIBUTING.md
Due: none

linted
  apps/dashboard/src/components/admin/social/publish.jsx
Due: run-dashboard

build: Added lint script and linted
  apps/dashboard/public/manifest.json
  apps/dashboard/src/components/admin/social/publish.jsx
  apps/dashboard/src/lib/mongo/blogs.js
  apps/dashboard/src/lib/mongo/posts.js
  apps/dashboard/src/lib/mongo/social.js
  apps/dashboard/src/pages/api/feed.js
  apps/dashboard/src/pages/api/sentry/[key].js
  apps/dashboard/src/pages/api/sitemap.js
  package.json
Due: run-dashboard

build: Updated setup script
  scripts/run-lint.js
  scripts/setup.js
  scripts/yarn.cmd
  scripts/yarn.sh
Due: none

doc: Formatted MD
  .github/CONTRIBUTING.md
  README.md
  apps/usercontent/README.md
Due: none

fix: Fixed pagination limit error
  packages/utils/lib/findHelpers/recommendations.js
  packages/utils/lib/findUtils.js
Due: run-dashboard, run-api

Linted
  packages/utils/lib/findHelpers/recommendations.js
  packages/utils/lib/findUtils.js
Due: run-dashboard, run-api

refactor: Added mobile UI on welcome page
  apps/dashboard/src/components/admin/stats/statsSingleCard.jsx
  apps/dashboard/src/components/admin/welcome/dashboard.jsx
  apps/dashboard/src/components/admin/welcome/firstTime.jsx
  apps/dashboard/src/components/credentialsContainer.jsx
  apps/dashboard/src/components/layout/index.jsx
  apps/dashboard/src/components/layout/index.module.css
  apps/dashboard/src/pages/login.jsx
Due: run-dashboard

refactor: Updated mobile UI to posts page
  apps/dashboard/src/components/admin/listLayout/card.module.css
  apps/dashboard/src/components/admin/listLayout/cardLoad.module.css
  apps/dashboard/src/components/admin/listLayout/top.module.css
  apps/dashboard/src/components/admin/posts/editor/config.module.css
  apps/dashboard/src/components/admin/posts/editor/metaInputs.module.css
  apps/dashboard/src/components/admin/posts/editor/tags.module.css
  apps/dashboard/src/components/admin/posts/editor/title.jsx
  apps/dashboard/src/components/admin/posts/images/blogNoImages.jsx
  apps/dashboard/src/components/admin/posts/images/list.jsx
  apps/dashboard/src/components/admin/posts/images/load.jsx
Due: run-dashboard

refactor: Added mobile UI on stats page
  apps/dashboard/src/components/admin/stats/base.jsx
  apps/dashboard/src/components/admin/stats/charts/line.jsx
  apps/dashboard/src/components/admin/stats/dashboard.jsx
Due: run-dashboard

refactor: Added mobile UI on social pages
  apps/dashboard/src/components/admin/social/accountCard.jsx
  apps/dashboard/src/components/admin/social/accountCardLoad.jsx
  apps/dashboard/src/components/admin/social/publish.jsx
  apps/dashboard/src/components/layout/index.module.css
Due: run-dashboard

refactor: Mobile UI adaptation
  apps/dashboard/src/components/admin/config/blog/thumbnail.jsx
  apps/dashboard/src/components/admin/config/developers/apiKeys.jsx
  apps/dashboard/src/components/admin/config/index.jsx
  apps/dashboard/src/components/admin/config/usage/charts.jsx
  apps/dashboard/src/components/admin/listLayout/noData.jsx
  apps/dashboard/src/components/admin/top.jsx
  apps/dashboard/src/components/assets/adminCollabs.jsx
  apps/dashboard/src/translations/dashboard/config/es.json
Due: run-dashboard

refactor: Refactor mobile UI
  apps/dashboard/src/components/admin/config/index.jsx
  apps/dashboard/src/components/admin/posts/editor/title.jsx
  apps/dashboard/src/components/assets/adminStats.jsx
  apps/dashboard/src/components/layout/index.jsx
  apps/dashboard/src/components/layout/index.module.css
  apps/dashboard/src/components/layout/mobileLayout.jsx
  apps/dashboard/src/components/layout/mobileLayout.module.css
  apps/dashboard/src/components/layout/option.jsx
  apps/dashboard/src/components/layout/option.module.css
  packages/icons/angleRight.jsx
Due: run-dashboard

feat: Added link to login in mobile meu
  apps/dashboard/src/components/mobileNav.jsx
  apps/dashboard/src/components/mobileNav.module.css
  apps/dashboard/src/components/nav.jsx
Due: run-dashboard

fix: Fixed error on render translation
  apps/dashboard/src/components/mobileNav.jsx
  apps/dashboard/src/components/nav.jsx
  apps/dashboard/src/pages/pricing.jsx
  apps/dashboard/src/translations/en.json
  apps/dashboard/src/translations/es.json
Due: run-dashboard

fix: Added menu auto close when page changes
  apps/dashboard/src/components/layout/index.jsx
  apps/dashboard/src/components/layout/mobileLayout.jsx
  apps/dashboard/src/components/layout/mobileLayout.module.css
  apps/dashboard/src/components/mobileNotSupported.jsx
  apps/dashboard/src/components/nav.jsx
Due: run-dashboard

fix: Removed missing module
  apps/dashboard/src/components/credentialsContainer.jsx
Due: run-dashboard

docs: Updated funding
  .github/FUNDING.yml
Due: none

ci: Add approval on pull request
  .circleci/config.yml
Due: none

build: Added setup script
  package.json
Due: none

feat: Added development notice
  apps/dashboard/src/components/nav.jsx
Due: run-dashboard

feat: Added Google Analytics Meassurement
  apps/dashboard/src/pages/_app.jsx
Due: run-dashboard

fix: Fixed user tracking
  apps/dashboard/src/components/layout/index.jsx
  apps/dashboard/src/firebase/client.js
  apps/dashboard/src/pages/_app.jsx
Due: run-dashboard

fix: Sign out from Firebase when user sign out
  apps/dashboard/src/components/layout/index.jsx
Due: run-dashboard

chore: Linted
  apps/dashboard/src/components/dashboard/admin/social/imagesList.jsx
Due: run-dashboard

chore: Linted
  apps/dashboard/package.json
  apps/dashboard/src/pages/_app.jsx
  apps/dashboard/src/pages/_blogs/_app_.jsx
  apps/dashboard/src/pages/_blogs/_error_.jsx
  apps/dashboard/src/pages/_dashboard/_app_.jsx
  packages/icons/angleRight.jsx
Due: run-dashboard

build: Updated dependencies
  package.json
  yarn.lock
Due: none

ci: Updated CI workflow
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/CONTRIBUTING.md
  .github/workflows/codeql.yaml
  .github/workflows/deploy.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  scripts/run-lint.js
Due: none

ci: Linted CircleCI config
  .circleci/config.yml
Due: none

ci: Set NodeJS version to 16 on package.json
  apps/dashboard/package.json
  package.json
Due: run-dashboard

ci: Added ESLint on Workspace dev dependencies
  package.json
  yarn.lock
Due: none

build: Added missing lint script
  packages/eslint-config/package.json
Due: none

ci: Fix linting
  packages/next/package.json
  packages/sdk/package.json
Due: run-dashboard, run-client

ci: Created Check PR ID script to skip vercel builds on PR
  scripts/check-pr.sh
Due: none

build: Updated node version to 16 on package.json
  package.json
Due: none

chore: Updated package.json
  apps/dashboard/package.json
Due: run-dashboard

build: Fixed error omporting modules
  .circleci/config.yml
  apps/dashboard/src/pages/_blogs/_app_.jsx
  apps/dashboard/src/pages/_blogs/_blog/[subdomain]/[[...paths]].jsx
  scripts/check-pr.sh
Due: run-dashboard

Path conditions:
  run-dashboard: (((((any of: packages/models/.*) or (any of: apps/dashboard/.*)) or (any of: packages/admin/.*)) or (any of: packages/utils/.*)) or (any of: packages/sdk/.*)) or (any of: packages/ui/.*)
  run-client: (((any of: packages/models/.*) or (any of: packages/sdk/.*)) or (any of: apps/client/.*)) or (any of: packages/ui/.*)
  run-api: (((any of: packages/models/.*) or (any of: packages/utils/.*)) or (any of: packages/ui/.*)) or (any of: apps/api/.*)
