Repository lettercms/lettercms: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dashboard, run-client, run-api

feat: Added social buttons sharer url
  apps/client/src/components/article/index.jsx
  apps/client/src/components/article/recommendCard.jsx
  apps/client/src/components/home/asideAuthor.jsx
  apps/client/src/components/home/entryCard.jsx
  apps/client/src/components/home/index.jsx
  apps/client/src/components/shareButtons.jsx
Due: run-client

feat: Added menu UI
  apps/client/src/components/article/content.jsx
  apps/client/src/components/article/content.module.css
  apps/client/src/components/cookieConsent.jsx
  apps/client/src/components/nav.jsx
  apps/client/src/components/userContext.jsx
Due: run-client

refactor: Updated blockquote styles
  apps/client/src/components/article/content.module.css
  apps/client/src/components/home/pagination.jsx
Due: run-client

feat: Added home pagination
  apps/client/src/components/home/entries.jsx
  apps/client/src/components/home/index.jsx
  apps/client/src/components/home/pagination.jsx
  apps/client/src/components/nav.jsx
  apps/client/src/lib/mongo/blogs.js
  apps/client/src/pages/_app.jsx
  apps/client/src/pages/_blog/[subdomain]/[[...paths]].jsx
  apps/client/src/pages/api/data/blog.js
Due: run-client

refactor: Updated FB SDK version
  apps/dashboard/src/lib/client/FacebookSDK.js
Due: run-dashboard

feat: Added Signin verification UI
  apps/client/src/components/cookieConsent.jsx
  apps/client/src/components/home/pagination.jsx
  apps/dashboard/src/components/signin/blog.jsx
  apps/dashboard/src/components/signin/user.jsx
  apps/dashboard/src/components/signin/verify.jsx
Due: run-dashboard, run-client

ci: Fixed staging deploy urls
  .github/workflows/deploy.yml
Due: none

fix: Fixed error on SDK API URL
  packages/sdk/cjs/index.js
  packages/sdk/cjs/lib/utils/existsRequest.js
Due: run-dashboard, run-client

fix: Minor Fixes
  apps/api/pages/api/email/send.js
  apps/api/pages/api/test.js
  apps/client/src/components/_index/card.jsx
  apps/client/src/components/_index/footer.jsx
  apps/client/src/components/_index/index.jsx
  apps/client/src/components/_index/landing.jsx
  apps/client/src/components/_index/pagination.jsx
  apps/client/src/components/_index/recommended.jsx
  apps/client/src/components/_index/shareCard.jsx
  apps/client/src/components/_index/subscribeButton.jsx
  apps/client/src/components/_index/subscriptionModal.jsx
  apps/client/src/components/_post/about.jsx
  apps/client/src/components/_post/index.jsx
  apps/client/src/components/_post/share.jsx
  apps/dashboard/src/components/signin/verify.jsx
  apps/dashboard/src/pages/api/collaborator/create.js
  packages/models/accounts/schema/account.js
  packages/utils/lib/findHelpers/accounts.js
  packages/utils/lib/findUtils.js
Due: run-dashboard, run-client, run-api

ci: Changed CI deploy to production on push
  .github/workflows/production.yml
Due: none

fix: Fixed post preview
  apps/client/src/components/article/index.jsx
  apps/client/src/lib/mongo/posts.js
  apps/client/src/middleware.js
  apps/client/src/pages/_preview/[subdomain]/[id].js
  apps/client/src/pages/api/preview.js
Due: run-client

fix: Fixed error getting subdomain on preview deploys
  apps/client/src/lib/generateFeed.js
  apps/client/src/lib/generateSitemap.js
  apps/client/src/pages/api/generate-token.js
  apps/client/src/pages/api/manifest.js
  apps/client/src/pages/api/robots.js
Due: run-client

refactor: Added thumbnail resize url
  apps/dashboard/src/components/admin/posts/imagesModal.jsx
Due: run-dashboard

fix: Fixed error on API subdomain
  apps/client/src/lib/generateFeed.js
  apps/client/src/lib/generateSitemap.js
  apps/client/src/pages/api/generate-token.js
  apps/client/src/pages/api/manifest.js
  apps/client/src/pages/api/robots.js
Due: run-client

Linted
  apps/client/src/lib/generateFeed.js
  apps/client/src/lib/generateSitemap.js
  apps/client/src/pages/api/manifest.js
  apps/client/src/pages/api/robots.js
Due: run-client

refactor: Detructure Facebook API response
  packages/admin/lib/index.js
Due: run-dashboard

refactor: Updated Editor styles
  apps/dashboard/src/components/admin/posts/editor/editor.jsx
Due: run-dashboard

fix: Fixed error on preview
  apps/dashboard/src/components/admin/posts/editor/buttons.jsx
Due: run-dashboard

refactor: Changed save timeout to 20sec
  apps/dashboard/src/components/admin/posts/editor/index.jsx
Due: run-dashboard

fix: Fixed error on delete entries
  apps/dashboard/src/components/admin/listLayout/listContainer.jsx
Due: run-dashboard

refactor: UI refactor
  apps/dashboard/src/components/admin/listLayout/index.jsx
  apps/dashboard/src/components/admin/social/imagesList.jsx
  apps/dashboard/src/components/layout/index.jsx
  apps/dashboard/src/components/layout/index.module.css
  apps/dashboard/src/components/layout/nav.jsx
Due: run-dashboard

fix: Fixed error setting social account
  apps/api/lib/social/account.get.js
  apps/api/lib/social/account.post.js
Due: run-api

Linted
  packages/admin/lib/index.js
Due: run-dashboard

chore: Removed subscription and comments from UI
  apps/dashboard/src/components/post/index.jsx
Due: run-dashboard

chore: Added supertest package
  apps/api/jest.config.js
  apps/api/package.json
  apps/api/pages/api/test.js
  yarn.lock
Due: run-api

ci: Always exec CI on production deploy
  .github/workflows/production.yml
Due: none

linted
  apps/dashboard/src/components/post/index.jsx
Due: run-dashboard

chore: Added subcriptors verification
  apps/api/lib/stat/index.get.js
Due: run-api

refactor: Updated editor UI
  apps/dashboard/src/components/admin/posts/editor/editor.jsx
  apps/dashboard/src/components/admin/posts/editor/thumbnailList.jsx
Due: run-dashboard

refactor: Added try/catch block on getServerSideProps function
  apps/client/src/pages/_blog/[subdomain]/[[...paths]].jsx
  apps/dashboard/src/pages/blog/[url].jsx
  apps/dashboard/src/pages/blog/index.jsx
Due: run-dashboard, run-client

refactor: Added sentry captureException on getServerSideProps
  apps/dashboard/src/pages/blog/[url].jsx
  apps/dashboard/src/pages/blog/index.jsx
Due: run-dashboard

doc: Added Discord URL into README
  README.md
Due: none

ci: Added discord notification
  .circleci/continue_config.yml
  scripts/discord.js
Due: none

refactor: Removed unused console.log
  packages/admin/lib/index.js
Due: run-dashboard

fix: Fixed error on Discord notification
  packages/admin/lib/toQuery.js
  scripts/discord.js
Due: run-dashboard

ci: Fixed error on API notification
  .circleci/continue_config.yml
  scripts/discord.js
Due: none

linted
  packages/utils/lib/connection.js
  packages/utils/lib/cors.js
  packages/utils/lib/crypto.js
Due: run-dashboard, run-api

refactor: Improved Social publish UI
  apps/dashboard/src/components/admin/social/imageSelector.jsx
  apps/dashboard/src/components/admin/social/imagesList.jsx
  apps/dashboard/src/components/admin/social/publish.jsx
Due: run-dashboard

feat: Added translation
  apps/dashboard/package.json
  apps/dashboard/src/components/admin/colaborators/card.jsx
  apps/dashboard/src/components/admin/config/account/socialTemplate.jsx
  apps/dashboard/src/components/admin/config/blog/categories.jsx
  apps/dashboard/src/components/admin/config/blog/import.jsx
  apps/dashboard/src/components/admin/config/configAside.jsx
  apps/dashboard/src/components/admin/config/index.jsx
  apps/dashboard/src/components/admin/listLayout/top.jsx
  apps/dashboard/src/components/admin/posts/_editor.jsx
  apps/dashboard/src/components/admin/posts/editor/editor.jsx
  apps/dashboard/src/components/admin/posts/images.jsx
  apps/dashboard/src/components/admin/posts/tags.jsx
  apps/dashboard/src/components/admin/posts/thumbnailList.jsx
  apps/dashboard/src/components/admin/social/dashboard.jsx
  apps/dashboard/src/components/admin/social/feed.jsx
  apps/dashboard/src/components/copyField.jsx
  apps/dashboard/src/components/index/details.jsx
  apps/dashboard/src/components/index/features.jsx
  apps/dashboard/src/components/index/footer.jsx
  apps/dashboard/src/components/index/header.jsx
  apps/dashboard/src/components/index/video.jsx
  apps/dashboard/src/pages/_app.jsx
  apps/dashboard/src/pages/dashboard/social/publish.jsx
  apps/dashboard/src/translations/es.json
  yarn.lock
Due: run-dashboard

ci: Added pre deploy notification
  .circleci/config.yml
  scripts/discord.js
Due: none

Path conditions:
  run-dashboard: (((((any of: packages/models/.*) or (any of: apps/dashboard/.*)) or (any of: packages/admin/.*)) or (any of: packages/utils/.*)) or (any of: packages/sdk/.*)) or (any of: packages/ui/.*)
  run-client: (((any of: packages/models/.*) or (any of: packages/sdk/.*)) or (any of: apps/client/.*)) or (any of: packages/ui/.*)
  run-api: (((any of: packages/models/.*) or (any of: packages/utils/.*)) or (any of: packages/ui/.*)) or (any of: apps/api/.*)
