Repository lettercms/lettercms: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-dashboard, run-client, run-api

fix: Fixed error on list layout reload
  apps/dashboard/src/components/admin/listLayout/filters.jsx
  apps/dashboard/src/components/admin/listLayout/index.jsx
  apps/dashboard/src/components/admin/listLayout/listContainer.jsx
  apps/dashboard/src/components/admin/posts/editor/index.jsx
Due: run-dashboard

fix: Fixed error on modal base close
  apps/dashboard/src/components/modalBase.jsx
Due: run-dashboard

fix: Fixed comments UI
  apps/dashboard/src/components/post/comments.jsx
  apps/dashboard/src/components/post/comments/card.jsx
  apps/dashboard/src/components/post/comments/content.jsx
  apps/dashboard/src/components/post/comments/form.jsx
  apps/dashboard/src/components/post/comments/index.jsx
  apps/dashboard/src/components/post/comments/userData.jsx
  apps/dashboard/src/components/post/index.jsx
  apps/dashboard/src/components/tracingLayout.jsx
  apps/dashboard/src/pages/index.jsx
Due: run-dashboard

fix: Fixed error on name export
  apps/api/lib/recommendation/lib/parseTags.js
Due: run-api

chore: Updated dev scripts
  scripts/run-dev.js
  scripts/setup.js
Due: none

chore: Deleted unused .gitignore
  apps/usercontent/.gitignore
Due: none

chore: Moved sdk development to lettercms/sdk repo
  packages/sdk/.npmignore
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/lib/AB.ts
  packages/sdk/src/lib/Accounts.ts
  packages/sdk/src/lib/Blogs.ts
  packages/sdk/src/lib/Comments.ts
  packages/sdk/src/lib/Images.ts
  packages/sdk/src/lib/Invitations.ts
  packages/sdk/src/lib/Pages.ts
  packages/sdk/src/lib/Payment.ts
  packages/sdk/src/lib/Posts.ts
  packages/sdk/src/lib/Reports.ts
  packages/sdk/src/lib/Social.ts
  packages/sdk/src/lib/Stats.ts
  packages/sdk/src/lib/Users.ts
  packages/sdk/src/lib/social/Base.ts
  packages/sdk/src/lib/social/index.ts
  packages/sdk/src/lib/social/socialResponses.ts
  packages/sdk/src/lib/social/socialTypes.ts
  packages/sdk/src/lib/utils/createRequest.ts
  packages/sdk/src/lib/utils/existsRequest.ts
  packages/sdk/src/lib/utils/importRequest.ts
  packages/sdk/src/lib/utils/objectToQueryString.ts
  packages/sdk/src/lib/utils/tracing.ts
  packages/sdk/src/types.ts
  packages/sdk/tsconfig.json
  packages/sdk/tsconfig.webpack.json
  packages/sdk/webpack.config.js
Due: run-dashboard, run-client

linted
  apps/dashboard/src/components/admin/comments/index.jsx
  apps/dashboard/src/components/admin/config/payment/index.jsx
  apps/dashboard/src/components/admin/header.jsx
  apps/dashboard/src/components/admin/header.module.css
  apps/dashboard/src/components/admin/listLayout/card.jsx
  apps/dashboard/src/components/admin/listLayout/index.jsx
  apps/dashboard/src/components/admin/posts/editor/lib/plugin.js
  apps/dashboard/src/components/admin/posts/images/search.jsx
  apps/dashboard/src/components/admin/posts/images/tabs.jsx
  apps/dashboard/src/components/admin/posts/imagesModal.jsx
  apps/dashboard/src/components/admin/social/facebookCard.jsx
  apps/dashboard/src/components/admin/social/imageSelector.jsx
  apps/dashboard/src/components/admin/social/imagesList.jsx
  apps/dashboard/src/components/admin/social/instagramCard.jsx
  apps/dashboard/src/components/admin/social/noAccount.jsx
  apps/dashboard/src/components/blog/shareCard.jsx
  apps/dashboard/src/components/layout/index.jsx
  apps/dashboard/src/components/nav.jsx
  apps/dashboard/src/components/post/comments/content.jsx
  apps/dashboard/src/components/post/comments/index.jsx
  apps/dashboard/src/components/post/comments/userData.jsx
  apps/dashboard/src/components/svg/plus.jsx
  apps/dashboard/src/lib/dashboardContext.jsx
  apps/dashboard/src/pages/_app.jsx
  apps/dashboard/src/pages/blog/search.jsx
  apps/dashboard/src/pages/dashboard/pages/edit/[pageID].jsx
  apps/dashboard/src/pages/dashboard/posts/comments/[id].jsx
  apps/dashboard/src/pages/dashboard/posts/comments/index.jsx
  apps/usercontent/api/index.js
  apps/usercontent/lib/getBucket.js
  packages/eslint-config/react.js
  packages/icons/.eslintrc.json
  packages/next/react/index.jsx
Due: run-dashboard

feat: Initial support to Contacts emails
  apps/api/pages/api/email/contact.js
  apps/api/pages/api/email/send.js
  apps/api/pages/api/email/sendinblue.js
  packages/utils/lib/sendMail.js
Due: run-dashboard, run-api

fix: fixed error on modules ref
  apps/dashboard/src/components/admin/posts/imagesModal.jsx
  apps/dashboard/src/pages/dashboard/social/publish.jsx
Due: run-dashboard

fix: Fixed error on reassign const
  apps/api/jest.config.js
  apps/api/pages/api/email/send.js
Due: run-api

linted
  apps/api/pages/api/email/contact.js
  packages/utils/lib/sendMail.js
  scripts/run-dev.js
Due: run-dashboard, run-api

chore: comment Test page
  apps/dashboard/src/pages/dashboard/posts/comments/[id].jsx
Due: run-dashboard

refactor: Client refactoring
  apps/client/public/example.jpg
  apps/client/src/components/home/aside.jsx
  apps/client/src/components/home/asideCard.jsx
  apps/client/src/components/home/asideCategories.jsx
  apps/client/src/components/home/asideSearch.jsx
  apps/client/src/components/home/entries.jsx
  apps/client/src/components/home/entryCard.jsx
  apps/client/src/components/home/header.jsx
  apps/client/src/components/home/index.jsx
  apps/client/src/components/home/recommended.jsx
  apps/client/src/components/home/recommendedCard.jsx
  apps/client/src/components/nav.jsx
  apps/client/src/components/nav/mobile.jsx
  apps/client/src/components/userContext.jsx
  apps/client/src/lib/mongo/blogs.js
  apps/client/src/middleware.js
  apps/client/src/pages/_app.jsx
  apps/client/src/pages/_blog/[subdomain]/[[...paths]].jsx
  apps/client/src/pages/api/data/blog.js
  apps/client/src/pages/api/generate-token.js
Due: run-client

chore: New Client UI
  apps/client/src/components/_index/card.jsx
  apps/client/src/components/_index/footer.jsx
  apps/client/src/components/_index/index.jsx
  apps/client/src/components/_index/landing.jsx
  apps/client/src/components/_index/pagination.jsx
  apps/client/src/components/_index/recommended.jsx
  apps/client/src/components/_index/shareCard.jsx
  apps/client/src/components/_index/subscribeButton.jsx
  apps/client/src/components/_index/subscriptionModal.jsx
  apps/client/src/components/_post/about.jsx
  apps/client/src/components/_post/index.jsx
  apps/client/src/components/_post/share.jsx
  apps/client/src/components/article/content.jsx
  apps/client/src/components/article/content.module.css
  apps/client/src/components/article/index.jsx
  apps/client/src/components/home/aside.jsx
  apps/client/src/components/home/asideAuthor.jsx
  apps/client/src/components/home/asideCard.jsx
  apps/client/src/components/home/entryCard.jsx
  apps/client/src/lib/mongo/posts.js
  apps/client/src/pages/_blog/[subdomain]/[[...paths]].jsx
  apps/client/src/pages/api/data/blog.js
Due: run-client

refactor: Fixed UI
  apps/client/next.config.js
  apps/client/src/components/article/content.jsx
  apps/client/src/components/article/content.module.css
  apps/client/src/components/article/index.jsx
  apps/client/src/components/article/recommendCard.jsx
  apps/client/src/components/cookieConsent.jsx
  apps/client/src/components/home/aside.jsx
  apps/client/src/components/home/asideAuthor.jsx
  apps/client/src/components/home/asideCard.jsx
  apps/client/src/components/home/asideCategories.jsx
  apps/client/src/components/home/asideSearch.jsx
  apps/client/src/components/home/breadcrumbs.jsx
  apps/client/src/components/home/entryCard.jsx
  apps/client/src/components/home/header.jsx
  apps/client/src/components/home/index.jsx
  apps/client/src/components/home/recommendedCard.jsx
  apps/client/src/components/nav.jsx
  apps/client/src/components/nav/mobile.jsx
  apps/client/src/components/shareButtons.jsx
  apps/client/src/components/userContext.jsx
  apps/client/src/lib/mongo/posts.js
  apps/client/src/middleware.js
  apps/client/src/pages/_app.jsx
  apps/client/src/pages/_blog/[subdomain]/[[...paths]].jsx
  apps/client/src/pages/_blog/[subdomain]/search.jsx
  apps/client/src/pages/_page.jsx
  apps/client/src/pages/_preview/[subdomain]/[id].js
  apps/client/src/pages/_recommendation/[subdomain]/[[...paths]].jsx
  apps/client/src/pages/api/data/blog.js
  apps/client/src/pages/api/manifest.js
  apps/client/src/pages/test.jsx
Due: run-client

feat: Added similar post helper
  packages/models/blogs/schema/blogs.js
  packages/utils/lib/findHelpers/posts.js
  packages/utils/lib/findHelpers/recommendations.js
  packages/utils/lib/findUtils.js
  packages/utils/lib/handleDate.js
Due: run-dashboard, run-client, run-api

fix: fixed error on rendering user
  apps/dashboard/src/components/nav.jsx
Due: run-dashboard

chore: Changed getStaticProps to getServerSideProps
  apps/client/src/pages/_blog/[subdomain]/[[...paths]].jsx
  apps/client/src/pages/api/revalidate.js
Due: run-client

chore: Test dashboard deploy
  apps/client/src/components/nav.jsx
Due: run-client

Linted
  apps/api/lib/post/draft.js
  apps/api/lib/user/post.get.js
  apps/client/src/components/article/index.jsx
  apps/client/src/components/article/recommendCard.jsx
  apps/client/src/components/cookieConsent.jsx
  apps/client/src/components/home/breadcrumbs.jsx
  apps/client/src/components/shareButtons.jsx
  apps/client/src/components/userContext.jsx
  packages/utils/lib/findHelpers/recommendations.js
Due: run-dashboard, run-client, run-api

refactor: Added try/catch block
  apps/client/src/pages/api/data/blog.js
Due: run-client

fixed: Fixed data getter
  apps/client/src/components/article/content.jsx
  apps/client/src/components/article/content.module.css
  apps/client/src/components/article/recommendCard.jsx
  apps/client/src/components/home/asideAuthor.jsx
  apps/client/src/components/home/index.jsx
  apps/client/src/lib/mongo/blogs.js
  apps/client/src/lib/mongo/posts.js
  apps/client/src/pages/_blog/[subdomain]/[[...paths]].jsx
Due: run-client

chore: Refactor
  apps/client/src/pages/_blog/[subdomain]/[[...paths]].jsx
Due: run-client

refactor: Fixed Header styles
  apps/client/src/components/home/header.jsx
  apps/client/src/pages/_blog/[subdomain]/[[...paths]].jsx
Due: run-client

refactor: Fixed Header styles
  apps/client/src/components/home/header.jsx
Due: run-client

chore: Refactor
  apps/dashboard/next.config.js
  apps/dashboard/src/components/admin/comments/commentCard.jsx
  apps/dashboard/src/components/admin/comments/index.jsx
  apps/dashboard/src/components/admin/listLayout/index.jsx
  apps/dashboard/src/components/admin/posts/editor/editor.jsx
  apps/dashboard/src/components/admin/posts/editor/index.jsx
  apps/dashboard/src/components/layout/index.jsx
  apps/dashboard/src/components/layout/menu.jsx
  apps/dashboard/src/components/nav.jsx
  apps/dashboard/src/pages/_app.jsx
  apps/dashboard/src/pages/dashboard/posts/comments/[id].jsx
  apps/dashboard/src/styles/global.css
  apps/dashboard/src/styles/global.scss
Due: run-dashboard

chore: Used Firebase Initiation
  apps/dashboard/src/components/layout/index.jsx
Due: run-dashboard

refactor: Removed unused API route
  apps/dashboard/src/pages/api/test.js
Due: run-dashboard

fix: Fixed error updating profile picture
  apps/dashboard/src/components/admin/config/account/cropper.jsx
Due: run-dashboard

refactor: Added profile image resize
  apps/client/src/components/article/recommendCard.jsx
  apps/client/src/components/home/asideAuthor.jsx
  apps/client/src/components/home/entryCard.jsx
  apps/client/src/components/home/recommendedCard.jsx
  apps/dashboard/src/components/admin/listLayout/card.jsx
  apps/dashboard/src/components/blog/aside.jsx
  apps/dashboard/src/components/layout/index.jsx
  apps/dashboard/src/components/nav.jsx
Due: run-dashboard, run-client

chore: Test
  apps/api/pages/api/test.js
Due: run-api

chore: Test
  apps/api/lib/stat/views.post.js
Due: run-api

fix: Fixed error getting user location
  apps/client/src/components/userContext.jsx
Due: run-client

refactor: Added dynamic API endpoint
  apps/client/src/components/userContext.jsx
Due: run-client

fix: Fixed FACEBOOK_APP_ID env reference
  apps/client/next.config.js
  apps/client/src/components/article/index.jsx
  apps/client/src/components/home/index.jsx
Due: run-client

chore: Removed unused response fields
  apps/api/lib/stat/views.post.js
Due: run-api

Linted
  apps/api/lib/stat/views.post.js
  apps/client/src/lib/mongo/blogs.js
  apps/client/src/pages/_blog/[subdomain]/[[...paths]].jsx
  apps/dashboard/src/components/layout/index.jsx
Due: run-dashboard, run-client, run-api

Path conditions:
  run-dashboard: (((((any of: packages/models/.*) or (any of: apps/dashboard/.*)) or (any of: packages/admin/.*)) or (any of: packages/utils/.*)) or (any of: packages/sdk/.*)) or (any of: packages/ui/.*)
  run-client: (((any of: packages/models/.*) or (any of: packages/sdk/.*)) or (any of: apps/client/.*)) or (any of: packages/ui/.*)
  run-api: (((any of: packages/models/.*) or (any of: packages/utils/.*)) or (any of: packages/ui/.*)) or (any of: apps/api/.*)
